
/* Basic Structure for every site */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0C0345;
}
h1,h2,h3{
  color: white;
}
p{
  color: white;
}
li{
color: white;
}
.mobile-nav{
  display: none;
}
.hamburger{
  display: none;
}
header{
    grid-area: header;
    background-color:#0C0345 ;
    border-bottom: black solid 3px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
    align-items: end;
    height: 8vh;
}
.hed{
  width: fit-content;
}
.Home-Mobile{
  display: none;
}
.hed a{
  text-decoration: none;
  font-style: italic;
  font-size: 150%;
}
.hed a:hover{
  font-size: 200%;
}
main{
    background-color: #0C0345;
    flex-grow: 1;

}
/* Kontakt */
.Kontakt{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.info_kontakt{
  width: 30%;
  height: 75vh;
  background-color: #727272;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  
}
.formular_kontakt{
width: 50%;
height: 75vh;
margin-top:3% ;
background-color: #727272;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: 25% 25% 50%;
grid-template-areas:
            "firstname firstname lastname lastname"
            "telnum telnum  mail mail"
            "description  description description confirm";
}
.firstname{
  grid-area: firstname;
}
.lastname{
  grid-area:lastname ;
}
.telnum{
  grid-area: telnum;
}
.mail{
  grid-area: mail;
}
.description{
  grid-area: description;
}
.confirm{
  grid-area:confirm ;
  display: flex;
  justify-content: end;
  align-items: end;
}
.confirm button{
  border-radius: 10%;
  border: 0;
  height: 10%;
}
div input{
  background-color: #D9D9D9;
}
.kontak_input h3{
  color: white;
  font-size: 120%;

}
.kontak_input{
  padding-left: 2%;
}
.kontak_input input{
  height: 30%;
  width: 80%;
  border: 0;
  margin-top: -3%;
}
.description textarea{
  background-color: #D9D9D9;
  width: 45vw;
  height: 60%;
}
.info_kontakt p {
  color: white;
  font-size: 120%
}
.info_kontakt ul li {
  color: white;
  font-size: 120%;
}
.info_kontakt ul{
padding: 0;
list-style-type: none;
}
.social_media{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.info_kontakt .instagramm{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 30%;
}
.info_kontakt .twitter{
  background-color: #1D9BF0;
  border-radius: 30%;
}
.info_kontakt .tiktok{
  background-color: black;
  border-radius: 30%;
}


/* Kontakt ende */
/* Über mich*/

.ubermich_first img{
  width: 20%;
  height: auto;
  scale: (50% 50%);
}
.ubermich_first{
  display: flex;
}
.ubermich_first .Einleitung{
  width: 50vw;
  margin-left: 23%;
  margin-right: 25%;
  position: relative;
}
.Einleitung h1{
  padding-left: 25%;
}
.ubermich_second{
  display: flex;
  justify-content: space-evenly;
}
.ubermich{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Einleitung h1,p,ul{
  color: white;
}
/*Über mich ende*/
/* Portfolio */
.portfolio{
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3/(100%/3));
  grid-template-rows: 50% 50%;
  grid-template-areas: "pictureleft centercontext pictureright"
                        "pictureleft centercontext pictureright";
}
.rightpictures{
  grid-area: pictureright;
}
.leftpictures{
  grid-area: pictureleft;

}
.centertext{
  grid-area: centercontext;
  text-align: center;
}
.leftpictures img{
 width: 100%;
}
.rightpictures img{
  width: 100%;
}

/* Portfolio ende */
footer{
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
    margin-top: auto;
}
.fitem1{
    color: white;
}
.fitem2{
    width: 30% ;    
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
}
.fitem3{
    width: 3%;
    height: auto;
}

@media only screen and (max-width: 600px)
{
  .fitem2{
    display: none;
  }
  .hed{
    display: none;
  }

  .Home-Mobile{
    display: block;
    width: fit-content;
  }
  .Home-Mobile a{
    font-size: 150%;
    font-style: italic;
    text-decoration: none;
  }
  .Home-Mobile a:hover{
    font-size: 200%;
  }
  
  header{
    display: flex;
    align-items: end;
    justify-content: start;
    }
    .hamburger{
      position: relative;
      display: block;
      width: 35px;
      cursor: pointer;
      margin-right: 40%;
      
      appearance: none;
      background: none;
      outline: none;
      border: none;
    }
    .hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transform: 0.4s; 
    }
    .hamburger.is-active::before{ 
      transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger.is-active::after {
      transform: rotate(45deg) translate(-9px, -8px);
    }
    .hamburger.is-active .bar{
      opacity: 0;
    }
    .mobile-nav{
    display: none;
      }
      .mobile-nav.is-active{
        display: flex;
        background-color: black;
        width: 50%;
        height: 50vh;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        z-index: 2;
      }
      .mobile-nav a{
        display: block;
        color: white;
        text-decoration: none;
        font-size: 150%;
        font-style: italic;
      }
      .mobile-nav a:hover{
        font-size: 200%;
      }
      .Kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
        .info_kontakt{
          width: 90% !important;
          height: 50% !important; 
          margin-top: 1% !important;
          
               
        }
        .formular_kontakt{
          width: 90% !important;
          height: 50% !important;
          margin-bottom: 1% !important;
        }
        .kontak_input textarea{
          width: 100% !important;
        }
    }
  
@media only screen and (max-width: 1050px)
{
  .fitem2{
    flex-wrap: wrap;
  }
  /* Kontakt */
  .formular_kontakt{
    width: 65vw;
    height: 75vh;
    margin-top: 4%;
  }
  .info_kontakt{
    width: 33%;
    margin-top: 4%;
  }
  .kontak_input input{
    width: 90%;
  }
  .description textarea{
    background-color: #D9D9D9;
    width: 55vw;
    height: 50%;
    margin-bottom: 3%;
  }
  .social_media{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
  }
  .info_kontakt p {
    font-size: 100%;
  }
  .info_kontakt ul li {
    font-size: 100%;
  }
  /* Kontakt ende */
  /* Portfolio */
  .portfolio{
    display: flex;
    flex-direction: column;
  }
  .leftpictures img{
    width: 100%;
   }
   .rightpictures img{
     width: 80%;
   }
   .leftpictures{
    margin-left: 20%;
    margin-right: 20%;
   }
   .rightpictures{
    margin-left: 20%;
    margin-left: 20%;
   }
  /* Portfolio ende */
  /* Über mich */
  .ubermich{
    display: flex;
    flex-direction: column;

  }
  .ubermich_first{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ubermich_second{
    display: flex;
    flex-direction: column;
  }
  .ubermich_first img{
    width: 50%;
  }
  /* Über mich ende */
}