
.layout-container{
 width: 100vw;
 height: 100vh;
 display: grid;
 float: left;
 grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
 grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
 

}
.item1{
    background-color: red;
    grid-row: 1/10;
    
}
.item2{
    background-color: green;
    grid-column: 2/10;
}
.item3{
    background-color: blue;
    grid-column: 2/10;
    grid-row: 2/10;
}
.item4{
    background-color: black;
    grid-row: 1/10;
    color: white;
    

}